@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


/* .editor-wrapper .w-md-editor {
  background-color: #020617;
  background-color: #e5e7eb;
  color: #020617;
  color: #e5e7eb;
  border-radius: 8px;
} */

.w-md-editor-toolbar {
  min-height: 48px;          /* default ~32px */
  padding: 6px 8px;
}

.w-md-editor-toolbar li button {
  width: 34px;
  height: 34px;
  padding: 0 !important;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #111827;
  transition: background-color 0.15s ease, transform 0.05s ease;
}

/* hover */
.w-md-editor-toolbar li button:hover {
  background: #f3f4f6;
}

/* active/pressed feel */
.w-md-editor-toolbar li button:active {
  transform: translateY(1px);
}

/* icon size */
.w-md-editor-toolbar svg {
  width: 18px;
  height: 18px;
}

/* tooltip / popup menus (optional improvement) */
.w-md-editor-toolbar .w-md-editor-toolbar-divider {
  margin: 0 6px;
  opacity: 0.4;
}

.w-md-editor-text-input,
.w-md-editor-preview {
  font-size: 4rem;
  line-height: 1.7;
}

/* Fix bullets/numbers missing in uiw preview */
.wmde-markdown ul {
  list-style: disc !important;
  padding-left: 1.5rem !important;
}

.wmde-markdown ol {
  list-style: decimal !important;
  padding-left: 1.5rem !important;
}

.wmde-markdown li {
  margin: 0.25rem 0;
}


.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid #FF3D00;
  border-left: 4px solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
